html,
body {
  background-color: #eee !important;
  color: #2a3b25 !important;
  font-family: "Gambetta", serif;
}
.navbar-brand {
  font-family: "Gambetta", sans-serif;
  color: #090909 !important;
}
.nav-link {
  font-size: 14px;
  font-family: "Gambetta", serif;
  color: #2a3b25 !important;
  margin: 0 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.bg-nav {
  backdrop-filter: saturate(190%) blur(20px);
}
@media (max-width: 992px) {
  .bg-nav {
    background: radial-gradient(circle at top, #eeeeee70, #eee);
    backdrop-filter: none;
  }
}
.fs-7 {
  font-size: 14px;
  letter-spacing: 1px;
}
.fs-8 {
  font-size: 12px;
}
.fs-9 {
  font-size: 10px;
  letter-spacing: 2px;
}
p,
li {
  font-family: "General Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gambetta", serif;
}
.text-beige {
  color: #2a3b25;
}
.text-general {
  font-family: "General Sans", sans-serif;
}
.text-gambetta {
  font-family: "Gambetta", serif;
}
.bg-overview {
  background-image: url("https://images.unsplash.com/photo-1463740839922-2d3b7e426a56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1250&q=80");
  background-position: 180%;
  background-repeat: no-repeat;
}
.bg-green {
  background: radial-gradient(circle at right, #b5d5c5, #b5d5c570);
}
.btn-shrink {
  transform: scale(1);
  transition: transform 100ms ease-in-out;
}
.btn-shrink:active {
  transform: scale(0.98);
  transition: transform 100ms ease-in-out;
}
.image1 {
  background-image: url("/images/img1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.image2 {
  background-image: url("/images/img2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.image3 {
  background-image: url("/images/img3.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.image4 {
  background-image: url("/images/img4.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.image5 {
  background-image: url("/images/img5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.image6 {
  background-image: url("/images/img6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
